/* #region for all*/
body{
     font-family: "Roboto", sans-serif;
     color:#434455;
     background-color:#fff;
}

button{
    cursor: pointer;
    padding: 0;
    border: 1px solid transparent;
    background-color: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.section{
    padding:120px 0;
}

/* section {
    padding: 120px 0;
} */

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* #endregion */

/* #region reset */
ul,ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

address{
    font-style: normal;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

/* #endregion */

/*#region header*/
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .logo-part{
    color: #2e2f42;
}

.nav-link{
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;  
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link{
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;    
}

.nav-link:focus,
.nav-link:hover,
.contacts-link:focus,
.contacts-link:hover{
    color: #404bbf;
}

.page-header{
    border-bottom: 1px solid #e7e9fc;
}

.header-container{
    display: flex;
    align-items: center;

}

.header-nav{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    align-items: center;
}

.header-logo{
    padding: 24px 0;
    margin-right: 76px;
}

.nav-list{
    gap: 40px;
}
/*#endregion*/

/* #region hero */
.hero {
    /* display: block; */
    padding: 188px 0;
    background: #2e2f42;
}

.hero-content{
    align-content: center;
}

.hero-title { 
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 188px; */
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
}

.hero-btn{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;

    border: none;
    border-radius: 4px;  
    /* max-width:169px; */
    /* height: 56px;  */
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#fff;
   
}

.hero-btn:hover,
.hero-btn:focus{
    background: #404bbf;
}
/* #endregion */

/* #region benefits*/
/* .page-benefit {
    padding: 120px 0;

} */
.benefit-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.benefit-item {
    max-width: 264px;
}
.benefit-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.benefit-paragraf {
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion */

/* #region team*/
.page-team {
    /* padding: 120px 0;  */
    background: #f4f4fd;
}

.team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center; 
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex; 
    justify-content:space-between;
    align-items: center; 
    /* gap: calc((100% - 24px * 3)/4);  */
    gap: 24px;
}

.team-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 32px; */

    /* box model */
    border-radius: 0 0 4px 4px;
    /* padding-block: 0px 32px; */
    padding-inline: 0px;
    max-width: 264px;

    /* styles */
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color:#fff;
}

.team-content{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;

    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 100%; 
}

/* .team-img{
    margin-bottom: 32px; 
} */

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}

.team-prof {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

/* #endregion */

/* #region portfolio*/
/* .portfolio {
    padding: 120px 0;
} */

.portfolio-header { 
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 24px; */
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
/* gap: 8px; */
width: calc((100% - 48px)/3);
/* margin-bottom: 48px; */
}

.card-content{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* gap: 8px; */
   

    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 100%; 
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
     /* text-align: center; */
    margin-bottom: 8px;
    
}
.portfolio-direction {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion */

/* #region footer*/
.page-footer{
    padding: 100px 0;
    background: #2e2f42;
}

.footer-text{
    max-width: 264px;
    margin-right: auto;
}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    margin-bottom: 16px; 
}
.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-part {
    color: #f4f4fd;
}

.footer-paragraf {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
/* #endregion */
